
# Expo
# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
# Metro
# Native
# debug
# dependencies
# generated native folders
# local env files
# macOS
# typescript
*.jks
*.key
*.log
*.mobileprovision
*.orig.*
*.p12
*.p8
*.pem
*.tsbuildinfo
.DS_Store
.env*.local
.expo/
.kotlin/
.metro-health-check*
/android
/ios
android/
dist/
expo-env.d.ts
harness/.expo/
harness/android/
harness/ios/
harness/node_modules/
ios/
node_modules/
npm-debug.*
web-build/
yarn-debug.*
yarn-error.*
